<div class="uk-text-center">
	<h1>An error has occurred</h1>
	{% if page.code == 404 %}
		<h4 class="uk-margin-small-top">The requested page was not found</h4>
	{% elseif page.code == 500 %}
		<h4 class="uk-margin-small-top">Server-side error occurred</h4>
	{% elseif page.code == 403 %}
		<h4 class="uk-margin-small-top">Access is denied</h4>
	{% else %}
		<h4 class="uk-margin-small-top">No information on this error</h4>
	{% endif %}

	<a href="/" class="uk-button uk-button-default">home</a>
</div>
