<div>
    <!-- online -->
    <span uk-icon="icon: social; ratio: 5"></span>
    <span uk-icon="icon: world; ratio: 5"></span>
    <!-- is not -->
    <span uk-icon="icon: happy; ratio: 5"></span>
</div>

<h2><b>Crypton.click</b> is a service that allows you to open links to Utopia channels</h2>

<div class="uk-margin-small-top uk-box-shadow-medium uk-padding uk-border-rounded" style="background-color: #666666;">
    <h3 style="color: white">How to use</h3>
    <h4 class="uk-margin-small-top" style="color: white">
        <i>
            <span class="uk-display-inline-block uk-box-shadow-small uk-padding-small" style="background-color: #7b7b7b">
                <span uk-icon="icon: world"></span>
            </span>
            <span class="uk-display-inline-block uk-box-shadow-small uk-padding-small" style="background-color: #7b7b7b">https://crypton.click</span>
            <span class="uk-display-inline-block uk-box-shadow-small uk-padding-small" style="background-color: #7b7b7b">/join/</span>
            <span class="uk-display-inline-block uk-box-shadow-small uk-padding-small" style="background-color: #7b7b7b">CHANNEL_ID</span>
        </i>
    </h4>
</div>

<div class="uk-margin-top">
    <a href="/join/D53B4431FD604E2F0261792444797AA4" class="uk-button uk-button-default main-gradient btn-stylized">let's try</a>
</div>
